<!DOCTYPE html>
<html>
<head>
  <title>Catherine</title>
  <%= stylesheet_link_tag    "catherine/application", media: "all" %>
  <%= javascript_include_tag "catherine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
